body{
    background: linear-gradient(to top, white 50%, #2ecc71 100%);
    text-align: justify;
}

main{
    background-color: rgb(#ffffff);
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'header header'
    'nav nav'
    'article aside'
    'footer footer';  
    margin: auto auto;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 15px;
    padding: 15px;
}

header{
    grid-area: header;
/*     background-image: url(kepek/futo_header.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 450px;*/
}

header h1{
    text-align: center;
    color: white;
    border: solid 1px #2ecc71;
    background-color: #2ecc71;
    border-radius: 15px;
    padding: 10px;
}

#menu{
    margin: auto auto;
}

nav{
    grid-area: nav;
    width: 300px;
    padding: 0;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
    border-radius: 10px;
    margin: auto auto;
}


nav ul{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

li a{
    float: left;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: white;
    color: #2ecc71;
}
    
.active {
    background-color: #2ecc71;
    text-decoration: underline white;
} 


article img{
    border: solid 1px black;
    border-radius: 15px;
    margin: 15px;
    
}


#legzes{
    width: 60%;
}



aside p,h2{
    padding-right: 15px;
    margin-left: -100px;
}

.idezet{
    padding-left: 150px;
}

#elsobetu::first-letter{
    color: #2ecc71;
    font-size: 18pt;
    font-weight: bolder;
}


.kiemelt{
    color: #2ecc71;           
    font-weight: bold;
}

#lelki-elonyok h3, #fizikai-elonyok h3{
    color: #2ecc71;
}



#lelki-elonyok{
    padding-bottom: 25px;
}

#lelki-elonyok, #fizikai-elonyok {
    background-color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    border-left: 4px solid #2ecc71;
    border-right: 4px solid #2ecc71;
}


#lelki-elonyok ul, #fizikai-elonyok ul {
    padding: 20px;
}



footer{
    grid-area: footer;
    justify-self: center;
    background-color: #2ecc71;
    color: white;
    border: solid 1px none;
    border-radius: 15px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto;
}

