body{
    background: linear-gradient(to right, #70BCDB 20%, white 80%);
    text-align: justify;
    font-size: 12pt;
}

main{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'header header'
    'nav nav'
    'article aside'
    'footer footer';  
    margin: auto auto;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 15px;
    padding: 15px;
    background: linear-gradient(to top, white 30%, #70BCDB 70%);
}


header{
    grid-area: header;
}

header h1{
    text-align: center;
    color: white;
    background-color: #149CDC;
    border-radius: 15px;
    padding: 10px;
}

#menu{
    margin: auto auto;
}

nav{
    grid-area: nav;
    width: 241px;    
    padding: 0;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
    border-radius: 10px;
    margin: auto auto;
}


nav ul{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

li a{
    float: left;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: white;
    color: #149CDC;
}
    
.active {
    background-color: #149CDC;
    text-decoration: underline white;
} 


article a img {
    width: 350px;
    border: solid 1px black;
    border-radius: 15px;
    margin: 25px;
    
}

aside h2,h3{
    color: #149CDC;
}

aside p,h2,h3{
    padding-right: 15px;
    margin-left: 25px;
}

.idezet{
    padding-left: 150px;
}

#elsobetu::first-letter{
    color: #149CDC;
    font-size: 18pt;
    font-weight: bolder;
}


.kiemelt{
    color: #149CDC;           
    font-weight: bold;
    font-size: large;
}

#lelki-elonyok h3, #fizikai-elonyok h3{
    color: #149CDC;
}

#fizikai-elonyok{
    padding-top: 100px;
}


#lelki-elonyok, #fizikai-elonyok {
    background-color: white;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    border-left: 4px solid #149CDC;
    border-right: 4px solid #149CDC;
}


#lelki-elonyok ul, #fizikai-elonyok ul {
    padding: 20px;
}


#emoji{
    list-style: none;
}

footer{
    grid-area: footer;
    justify-self: center;
    background-color: #149CDC;
    color: white;
    border: solid 1px none;
    border-radius: 15px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto;
}

