/* a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

nav li:hover{
    background-color: lightgray;
}

a:hover{
    color: white;
} */

/* body{
    
}

nav{
    width: 500px;
}

ul{
    justify-content: center;
}

nav ul {
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

li>a{
    float: left;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: aqua;
}
    
.active {
    background-color: hotpink;
} */

body{
    background: whitesmoke;
    text-align: justify;
}

main{
    background-color: rgb(#333333);
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'header header'
    'nav nav'
    'article aside' 
    'footer footer';  
    margin: auto auto;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 15px;
    padding: 15px;
}

header{
    grid-area: header;
/*     background-image: url(kepek/futo_header.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 450px;*/
}

header h1{
    text-align: center;
    color: white;
    border: solid 1px #2ecc71;
    background-color: #2ecc71;
    border-radius: 15px;
    padding: 10px;
}

#menu{
    margin: auto auto;
}

nav{
    grid-area: nav;
    width: 300px;
    padding: 0;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
    border-radius: 10px;
    margin: auto auto;
}


nav ul{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px;
}

li a{
    float: left;
    color: white;
    padding: 10px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: white;
    color: #2ecc71;
}
    
.active {
    background-color: #2ecc71;
    text-decoration: underline white;
} 


article img{
    border: solid 1px black;
    border-radius: 15px;
    margin: 25px;
    
}

aside p,h2{
    padding-right: 15px;
    margin-left: -100px;
}

aside h2{
    color: #2ecc71;
}

#elsobetu::first-letter{
    color: #2ecc71;
    font-size: 18pt;
    font-weight: bolder;
}


footer{
    grid-area: footer;
    justify-self: center;
    background-color: #2ecc71;
    color: white;
    border: solid 1px none;
    border-radius: 15px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto;
}